<div ng-controller="LinkwithFBController">
  <super-navbar>
    <super-navbar-title>
      Link with Facebook
    </super-navbar-title>
  </super-navbar>
  <body>
    <div class="alertbox">
      <h3>
        Sign up successful!
      </h3>
        <br>
        <p>
        Use the link below to link your newly created account with your Facebook, then come back and start matching!
      </p>
    </div>
    <div class="linkfb">
      <button class="linkbtn" style="background-color: #E84C59; color: blue">Link with Facebook</button>
    </div>
    <div class="signinbtn">
      <button class="sign_btn" style="background-color: #E84C59; color: blue"><span>Sign In</span></button>
    </div>
  </body>
</div>

<script src="./Javascript/LinkwithFB.js"></script>
