<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Cupid
    </super-navbar-title>
  </super-navbar>

  <form class="login">
    <h1>Cupid - some intro</h1>
    <input type="email" name="login" class="login-input" placeholder="Email" autofocus>
    <input type="password" name="password" class="login-input" placeholder="Password">
    <button class="button button-positive button-block btn-signin login-signin">SignIn</button>
    <button class="button button-positive button-block btn-signup login-signup">SignUp</button>
  </form>
</div>

<script src="./Javascript/Login.js"></script>
