<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Cupid
    </super-navbar-title>
  </super-navbar>    
  <div >
  </div>
  <form class="login">
    <h1>Welcome to Cupid</h1>
    <input type="email" name="login" class="login-input" placeholder="Email" autofocus>
    <input type="password" name="password" class="login-input" placeholder="Password">
    <p id="login_errors" style="color: #D8000C;
background-color: #FFBABA;" visibility="hidden"></p>
    <button class="button button-positive button-block btn-signin login-signin">Sign in</button>
    <hr>
    <h1>Or</h1>
    <button class="button button-positive button-block btn-signup login-signup">Register</button>
  </form>
</div>

<script src="./Javascript/Login.js"></script>
