<div ng-controller="MatchController">
  <super-navbar>
    <super-navbar-title>
      Match
    </super-navbar-title>
  </super-navbar>
  <div class="padding match-page div-overlap">
    <div class="row">
      <div class="col Title">
        <h2>Match Master</h2>
          <h3 class="cur_usr_name">asdf</h3>
        <!-- <button class="btn-mymatch">My Match</button> -->
      </div>
    </div>
    <div class="row match_space">
      <div class="col user_1 person_frame">
        <div class="row">
          <div class="col" style="text-align: center">
            <img class="user_pic user_img_1" src=""/>
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align: center">
            <h4 class="user_name_1"></h4>
          </div>
        </div>
      </div>
      <div class="col user_2 person_frame" style="margin-left: 10px">
        <div class="row">
          <div class="col" style="text-align: center">
            <img class="user_pic user_img_2" src=""/>
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align: center">
            <h4 class="user_name_2"></h4>
          </div>
        </div>
      </div>
    </div>
    <div id="selection_part" class="row">
      <div class="col choice">
        <button class="btn-select btn-close">
          <i class="icon super-close"></i>
        </button>
      </div>
      <div class="col choice">
        <button class="btn-select btn-checkmark">
          <i class="icon super-checkmark"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="div-overlap div-hidden">
      <div class="col div-col-heart">
        <p class="heart">
          Hello
          <span style="font-size: 75px; color: #990033;">&hearts;</span>
          World
        </p>
      </div>
  </div>
</div>
<script src="./Javascript/Match.js"></script>
