<div ng-controller="ProfileController">
<style type="text/css">
p {
  overflow: hidden;
}
tr {
    border-bottom: 1em solid #ccc;
}
</style>


<div class="padding" style="overflow: auto">

  <super-navbar>
    <super-navbar-title>
      Your Matches!
    </super-navbar-title>
  </super-navbar>

  <!-- <p style="padding-bottom:20px;">This page contains all the people that people think you are a good match with. In other words, these are <strong>your matches!</strong> -->

  <table style="width:100%;" id='myMatchTable'>
<!--     <tr>
      <td style="width:50%;border-collapse:collapse;"><img style="padding-left:5%;padding-top:5%;height:50%;width:90%;" src="/icons/download.jpeg">
        <figcaption style="position:relative;left:60px;">The Cow</figcaption>
      </td>
      <td style="border-collapse: collapse;"><p style="position:relative;bottom:30px;left:5px;"><strong>9 people</strong> think you're a match!</p></td>
      <tr>
      <td style="width:50%;border-collapse:collapse;"><img style="padding-left:5%;padding-top:5%;height:50%;width:90%;" src="/icons/dog.jpeg">
        <figcaption style="position:relative;left:60px;">The Dog</figcaption>
      <td style="border-collapse: collapse;"><p style="position:relative;bottom:30px;left:5px;"><strong>5 people</strong> think you're a match!</p></td>
      <tr>
      <td style="width:50%;border-collapse:collapse;"><img style="padding-left:5%;padding-top:5%;height:50%;width:90%;" src="/icons/deadmeat.jpeg">
        <figcaption style="position:relative;left:60px;">Dead Meat</figcaption>
      <td style="border-collapse: collapse;"><p style="position:relative;bottom:30px;left:5px;"><strong>4 people</strong> think you're a match!</p></td>
    </tr> -->
  </table>


</div>

</div>

<script src="./Javascript/MyMatch.js"></script>
